<!-- <div>
  <ngb-datepicker #dp [(ngModel)]="timeIn" (navigate)="inDate = $event.next"></ngb-datepicker>
</div>
<div>
    <ngb-datepicker #dp [(ngModel)]="timeOut" (navigate)="outDate = $event.next"></ngb-datepicker>
</div>
<div>
    <input class='form-control' type="text" [(ngModel)]='timeType' />
</div> -->
<!-- TODO: add angular class to override and add custom styles -->
<!-- <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd"
           name="dp" [(ngModel)]="timeIn" ngbDatepicker #d="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <img src="/assets/images/calendar-icon.svg"
        style="width: 1.2rem; height: 1rem; cursor: pointer;"
         />
      </button>
    </div>
  </div> -->

  <ngb-timepicker [(ngModel)]="timeIn" [meridian]="amPmOnIn"></ngb-timepicker>
  <button class="btn btn-sm btn-outline-{{amPmOnIn ? 'success' : 'danger'}}" (click)="toggleMeridianIn()">
      Meridian - {{amPmOnIn ? "ON" : "OFF"}}
  </button>
  <ngb-timepicker [(ngModel)]="timeOut" [meridian]="amPmOnOut"></ngb-timepicker>
  <button class="btn btn-sm btn-outline-{{amPmOnOut ? 'success' : 'danger'}}" (click)="toggleMeridianOut()">
      Meridian - {{amPmOnOut ? "ON" : "OFF"}}
  </button>
