<!-- <div *ngFor='let timecardDay of timecardDays'>
  <pm-timecard-day></pm-timecard-day>
</div> -->
<style>
  #card-sample1, #card-sample2, #card-sample3, #card-sample4, #card-sample5{
    width: 10rem;
    margin: 10px;
    /* display: inline-block; */
  }

  .make-big{
    font-size: xx-large;
  }

  #card-sample1 .card-body, #card-sample2 .card-body, #card-sample3 .card-body, #card-sample4 .card-body, #card-sample5 .card-body{
    /* align-content: center; */
    /* vertical-align: top; */
    text-transform: capitalize;
    text-align: center;
  }

  #card-sample1 .card-header, #card-sample2 .card-header, #card-sample3 .card-header, #card-sample4 .card-header, #card-sample5 .card-header{
    padding: 2px;
  }

  #card-sample1 .card-header{
    /* width: 20rem; */
    /* margin: 10px; */
    background-color:orange;
  }
  #card-sample2 .card-header{
    /* width: 20rem; */
    /* margin: 10px; */
    background-color:black;
  }
  #card-sample3 .card-header{
    /* width: 20rem; */
    /* margin: 10px; */
    background-color:gray;
  }

    #card-sample4 .card-header{
    /* width: 20rem; */
    /* margin: 10px; */
    background-color:cornflowerblue;
  }

    #card-sample5 .card-header{
    /* width: 20rem; */
    /* margin: 10px; */
    background-color:red;
  }

@media only screen and (max-width: 600px) {
    #card-sample1, #card-sample2, #card-sample3,
    #card-sample4, #card-sample5 {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}

@media only screen and (min-width: 601px) {
    #card-sample1, #card-sample2, #card-sample3,
    #card-sample4, #card-sample5 {
      display: inline-block;
    }
}

</style>
<div class='card'>
<div class='card-header'></div>
<div class='card-body'>
<div>
  <input [checked]='isSelected1' [value]='1' (change)='onRadioChange(1)' type='radio' />
  <label>Test 1</label>
</div>
<div>
  <input [checked]='isSelected2' [value]='2' (change)='onRadioChange(2)' type='radio' />
  <label>Test 2</label>
</div>
<div>
  <input [checked]='isSelected3' [value]='3' (change)='onRadioChange(3)' type='radio' />
  <label>Test 3</label>
</div>
<div>
  <input [checked]='isSelected4' [value]='4' (change)='onRadioChange(4)' type='radio' />
  <label>Test 4</label>
</div>
</div>
</div>
<div id='card-sample1' class='card'>
  <div class='card-header'></div>
  <div class='card-body'>
    <div>Orange Total:</div>
    <div class="make-big">100</div>
</div>
</div>
<div id='card-sample2' class='card'>
  <div class='card-header'></div>
  <div class='card-body'>
      <div>Black Total:</div>
      <div class="make-big">100</div>
  </div>
</div>
<div id='card-sample3' class='card'>
  <div class='card-header'></div>
  <div class='card-body'>
      <div>Gray Total:</div>
      <div class="make-big">100</div>
  </div>
</div>
<div id='card-sample4' class='card'>
  <div class='card-header'></div>
  <div class='card-body'>
      <div>Blue Total:</div>
      <div class="make-big">100</div>
  </div>
</div>
<div id='card-sample5' class='card'>
  <div class='card-header'></div>
  <div class='card-body'>
      <div>Red Total:</div>
      <div class="make-big">100</div>
  </div>
</div>
<div class='card'>
  <div class='card-header'>Timecard for week of: {{timecardDate}}</div>
  <div class='card-body'>
    <div class='day' *ngIf='false'>
      <label class='day-label'>Sunday:</label>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
    </div>
    <div class='day'>
      <label class='day-label'>Monday</label>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
    </div>
    <div class='day'>
      <label class='day-label'>Tuesday</label>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
    </div>
    <div class='day'>
      <label class='day-label'>Wednesday</label>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
    </div>
    <div class='day'>
      <label class='day-label'>Thursday</label>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
    </div>
    <div class='day'>
      <label class='day-label'>Friday</label>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
    </div>
    <div class='day' *ngIf='false'>
      <label class='day-label'>Saturday</label>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
      <div class='timecard-item'>
        <pm-timecard-day></pm-timecard-day>
      </div>
    </div>
  </div>
</div>
