<!-- <div *ngFor='let timecardDay of timecardDays'>
  <pm-timecard-day></pm-timecard-day>
</div> -->
<div class='card' *ngIf='false'>
    <div class='card-header'>Sunday</div>
    <div class='card-body'>
        <div class='day'>
            <label class='day-label'>Sunday:</label>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            </div>
    </div>
</div>

<div class='card'>
    <div class='card-header'>Monday</div>
    <div class='card-body'>
        <div class='day'>
            <label class='day-label'>Custom Label Here</label>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            </div>
    </div>
</div>

<div class='card'>
    <div class='card-header'>Tuesday</div>
    <div class='card-body'>
        <div class='day'>
            <label class='day-label'>Custom Label Here</label>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            </div>
    </div>
</div>

<div class='card'>
    <div class='card-header'>Wednesday</div>
    <div class='card-body'>
        <div class='day'>
            <label class='day-label'>Custom Label Here</label>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            </div>
    </div>
</div>

<div class='card'>
    <div class='card-header'>Thursday</div>
    <div class='card-body'>
        <div class='day'>
            <label class='day-label'>Custom Label Here</label>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            </div>
    </div>
</div>

<div class='card'>
    <div class='card-header'>Friday</div>
    <div class='card-body'>
        <div class='day'>
            <label class='day-label'>Custom Label Here</label>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            </div>
    </div>
</div>

<div class='card' *ngIf='false'>
    <div class='card-header'>Saturday</div>
    <div class='card-body'>
        <div class='day'>
            <label class='day-label'>Custom Label Here</label>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            <div class='timecard-item'>
                <pm-timecard-day></pm-timecard-day>
            </div>
            </div>
    </div>
</div>
