<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div>
                <div>
                    App used as my playground for angular.
                </div>
                <hr />
                <div>
                    Bootstrap samples:
                </div>
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel title="Drop-down implementation">
                        <ng-template ngbPanelContent>
                            <div>
                                <pm-ddown [main]="dDownObj"></pm-ddown>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Bootstrap Alerts">
                        <ng-template ngbPanelContent>
                            <div class="mr-0 mt-1">
                                <p *ngFor="let alert of alerts">
                                    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
                                </p>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="TBD">
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                            et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                            synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="TBD">
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                            et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                            synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <hr />
                <div>
                    Kendo Grid example:
                </div>
                <pm-kendowrapper></pm-kendowrapper>
            </div>
        </div>
        <div class="row">
            <span class="text-center" style='margin-right: 5px;'>Developed by:</span>
            <span class="text-center" style='margin-right: 5px;'>cloudstrifebro</span>
        </div>
    </div>
</div>