<!-- <style>
    .card-header {
        width: 89rem!important;
    }
</style> -->
<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div style="width: 100%;">
                <div>
                    App used as my playground for angular.
                </div>
                <hr />
                <div>
                    Bootstrap samples:
                </div>
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel title="Drop-down implementation">
                        <ng-template ngbPanelContent>
                            <div>
                                <pm-ddown [main]="dDownObj"></pm-ddown>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Bootstrap Alerts">
                        <ng-template ngbPanelContent>
                            <div class="mr-0 mt-1">
                                <p *ngFor="let alert of alerts">
                                    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
                                </p>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Kendo Wrappers">
                        <ng-template ngbPanelContent>
                            <ngb-tabset>
                                <ngb-tab title="Grid">
                                    <ng-template ngbTabContent>
                                        <pm-kendowrapper></pm-kendowrapper>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="TBD">
                                    <!-- <ng-template ngbTabTitle>TBD</ng-template> -->
                                    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                        <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson
                                            artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress,
                                            commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
                                            Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                                            helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny
                                            pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical
                                            culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
                                            vero sint qui sapiente accusamus tattooed echo park.</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Disabled" [disabled]="true">
                                    <ng-template ngbTabContent>
                                        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh
                                            elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet.
                                            Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et
                                            nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et.
                                            Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla
                                            tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis.
                                            Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis
                                            dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                                            ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="TBD">
                        <ng-template ngbPanelContent>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                            et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                            synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <hr />
            </div>
        </div>
        <div class="row">
            <span class="text-center" style='margin-right: 5px;'>Developed by:</span>
            <span class="text-center" style='margin-right: 5px;'>cloudstrifebro</span>
        </div>
    </div>
</div>